import ms from "ms";

import { Handler } from "@/classes/Handler";

export default Handler.CommandHandler({
  data: (builder) => builder.setName("commands").setAliases(),
  cooldown: (manager) => manager.saveDatabase(false).setCooldownTime(ms("10s")).setEnabled(true),
  async execute(_options, message, _args, _cmd) {
    await message.reply({ content: "helo" });
  }
});
